/*-------------------------------------------------------Register---------------------------------------------------*/
.Register-Section {
  position: relative;
  min-height: 100vh;
  background: #EC1944;
  color: #fff;
  text-align: center;
  overflow: hidden;
  font-family: "Nunito", serif;
  padding: clamp(40px, 5vw, 80px) 16px;
}

.Register-content {
  max-width: 100%;
  margin: 0 auto;
}

.Register-tag {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 8px;
    position: relative;
}

.Register-tag::before {
    content: "";
    width: 40px;
    height: 2px;
    background: #fff;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.Register-content h3 {
  font-size: clamp(24px, 4vw, 40px);
  margin-bottom: 40px;
}

/* FORM GRID */
.register-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

/* Inputs */
.register-form input,
.register-form button {
  border-radius: 12px;
  padding: 16px 18px;
  border: none;
  font-size: 16px;
  min-width: 0;
}

/* Button */
.register-form button {
  background: #22b573;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.register-form button:hover {
    background: #1ca165;
}
.register-form button:hover {
    background: #1ca165;
}

/* Snow Animation */
.snow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:
        radial-gradient(#fff 2px, transparent 2px),
        radial-gradient(#fff 1.5px, transparent 1.5px),
        radial-gradient(#fff 1px, transparent 1px);
    background-size: 150px 150px, 100px 100px, 50px 50px;
    animation: snow 10s linear infinite;
    opacity: 0.8;
}

@keyframes snow {
    from { background-position: 0 0; }
    to { background-position: 0 1000px; }
}


/* Tablet */
@media (max-width: 991px) {
  .Register-Section {
    min-height: 70vh;
    height: auto;
  }
  .register-form {
    grid-template-columns: repeat(2, 1fr);
  }
  .register-form input,
  .register-form button {
    padding: 12px 14px;
    font-size: 15px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .Register-Section {
    min-height: 50vh;
    height: auto;
  }
  .register-form {
    grid-template-columns: repeat(2, 1fr);
    
  }
  .register-form input,
  .register-form button {
    padding: 6px 2px;
    font-size: 10px;
    border-radius: 8px;
    text-align: center;
  }
}


