
/*--------------------------------------------------Testimonial--------------------------------------------*/
$color_1: #EC1944;
$color_2: #1B8853;
$color_3: #000000;
$color_4: #525252;
$font-family_1: "Nunito", serif;

.testimonials {
	padding: 80px 5%;
	text-align: center;
	background: #FFFFFF;
	font-family: $font-family_1;
	h2 {
		font-size: 40px;
		margin-bottom: 70px;
		font-weight: 700;
	}
}
.testimonial-tag {
	display: inline-flex;
	align-items: center;
	gap: 6px;
	color: $color_1;
	font-weight: 600;
	margin-bottom: 16px;
	.line {
		width: 50px;
		height: 2px;
		background: #EC1944;
	}
}
.testimonial-cards {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 33.333%;
	gap: 25px;
}
.card {
	background: #F2F7F8;
	padding: 40px 30px;
	border-radius: 10px;
	text-align: left;
	margin: 0 0 24px;
	height: auto;
}
.review {
	color: $color_2;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 16px;
	font-weight: 700;
	text-wrap: initial;
}
.user {
	display: flex;
	align-items: center;
	gap: 15px;
	img {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		object-fit: cover;
	}
	h4 {
		font-size: 18px;
		font-weight: 700;
		color: $color_3;
	}
	span {
		font-size: 16px;
		color: $color_4;
	}
}
@media (max-width: 599px) {
	.testimonial-cards {
		grid-auto-columns: 100%;
	}
	.card {
		height: auto;
		padding: 24px;
	}
	.testimonials {
		h2 {
			font-size: 26px;
		}
	}
	.review {
		font-size: 16px;
	}
}
@media (min-width: 600px) and (max-width: 991px) {
	.testimonial-cards {
		grid-auto-columns: 50%;
	}
	.card {
		height: auto;
		padding: 32px;
	}
	.testimonials {
		h2 {
			font-size: 32px;
		}
	}
}